*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    border: 1px solid red;
    font-size: 62.5%;
}
nav{
    display:flex;
    align
}
h1{
    font-size: 3rem;
    padding:5%;
}
p{
    font-size:1.6rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:2rem;
}
a{

    text-decoration:none;
    width:10%;
    border-radius:0px;
    color:black;
    text-align:center;
    background-color:lightgray;
    font-size:1.6rem;
    padding:1%;
}
.home{
    background
}
.topline{
    padding: 0 5%;
}
.sect1{
    display:flex;
}
.bigimage{

    width:50%;
    margin:auto;

}
.bigbox{
    width:50%;
}
.introtext{
    width:80%;
    margin: 80% 95% 20% 5%;
    display:flex;
    flex-direction:column;

}
.sect2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
    align-items:center;
}
.box{
    width:30%;
}
footer{
    background-color: gray;
    align:center;
}
.footer{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:5%
}
